/* PUT YOUR STYLES HERE */
.module-border {
    /* TODO: Is there a tidier way to make module fill width */
    width:100% !important; 
}

.module-content .hover-text {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    background-color: rgba(0, 0, 128, 0.6);
    padding: 20px;
}

.module-content .hover-text p {
    color:#fff;
}

.module-content img {
    display:block;
}

/* Hide hover text by default */

.module-content .hover-text {
    display:none;
}

/* Show hover area of active element */

.module-content.active .hover-text {
    display:block;
}
